.main{
      background-color:#30518f;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      border-radius: 10px  10px 0 0;
}

.name_comp{
           font-weight: bold;
}

.side_bar{
        display: flex;
        color: aliceblue;
        font-family: bold;
        align-items: center;
}

.btn{
       height: 20px;
       width: 20px;
       outline: none;
       border: none;  
       color:white;
       background-color: #30518f;
}

.btn:hover{
        color:#f37e16;   
 }

.logo{ 
        width: 40px;
        height:40px;
        border-radius: 50%;
        border: 4px solidrgb(211, 176, 236) ;
         box-shadow: 0 0 2px 2px #30518f; 
        margin-right: 20px ;
        outline: 2px solid  #f37e16;
}

