.div_btn{
            margin-left: 80px;
}
.accept_btn{
      background-color:#30518f;
      padding: 4px 16px;
      color: aliceblue;
      margin-right:20px ;
      border: none;
      border-radius: 4px ;
}

.reject_btn{
      background-color: #f37e16;
      padding: 4px 16px;
      color: white;
      border: none;
      border-radius: 4px;
}